<!DOCTYPE html>
<html>
<head>
  <title>Unit07</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=header>
	<div id=img>
		<%= image_tag "128px-Dog.svg.png" %>
		<p>Image From http://commons.wikimedia.org/wiki/File:Dog.svg</p>
	</div>
	<h1>Pets for Adoption</h1>
</div>

<div class=body>
  <div class=sidebar>
    <%= render 'carts/cart'%>
  </div>
  <div>
    <%= yield %>
  </div>
</div>

<div class=footer>
	<p>Stuff on the footer... Important Copyright stuff here...</p>
</div>

</body>
</html>
